{% extends '_layouts/base.njk' %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
      <h1>{{members.name}}</h1>
      <img src="img/members/{{members.image}}" alt="Member Image" class="img-fluid">
    </div>
    <div class="col-sm-8">
      <h5> <b>Insturments: </b> {{members.instruments}}</h5>
      <h5> <b> Tenure: </b> {{members.tenure}}</h5>
      <h5> <b> Birth: </b> {{members.birthdate}} , {{members.birthplace}}</h5>
         <div>
         {{ members.text | safe}}
         </div>
    </div>
  </div>
</article>
{% endblock %}
