{% extends '_layouts/base.njk' %}

{% block content %}

<div class= 'container'>

<div class="row">

 {% for disc in data.discography %}

  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="img/discs/{{disc.image}}" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">{{disc.title}}</h3>
        <p class="card-text"> {{disc.year}} </p>
      </div>
    </div>
  </div>

{% endfor %}

</div>
</div>


{% endblock %}