{% extends '_layouts/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block content %}

<div class="jumbotron"> 
  <div class="inner-div">
  </div>
</div>


  <div class="row">
    <div class="col">
      <p>
        Queen are a band that formed in London in 1970. They became very popular in the 1970s and 80s with hits like "Bohemian Rhapsody", "We Will Rock You", and "Another One Bites the Dust." The origional members were <a href="freddie.html">Freddie Murcury</a>, <a href="brian.html">Brian May</a>, <a href="roger.html">Roger Taylor</a>, and <a href="john.html">John Deacon</a>.
      </p>
    </div>
  </div>

{% endblock %}